<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css?v=6">

    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>

    <div class="mainwrapper">

    <header class="header">
        <div class="container">
            <a href="/gid/build" class="header__logo">
                <img src="img/logo.svg" alt="">
            </a>
            <div class="header__container">
                <div class="header__row top">
                    <div class="header__contacts">
                        <a href="mailto:info@ingushetiagid.ru" class="header__mail">
                            <svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-letter"></use></svg> 
                            info@ingushetiagid.ru
                        </a>
                        <a href="tel:+74956878879" class="header__phone">
                            <svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-phone"></use></svg>
                            <strong>+7 495 687-88-79</strong>
                        </a>
                    </div>
                    <div class="header__social">
                        <div>
                            <a href="javascript:void(0)" data-modal="message"><svg class="icon" fill="#1CCE79"><use xlink:href="img/symbol-defs.svg#icon-whatsapp"></use></svg></a>
                            <a href="javascript:void(0)" data-modal="message"><svg class="icon" fill="#00A3FF"><use xlink:href="img/symbol-defs.svg#icon-telegram"></use></svg></a>
                            <a href="javascript:void(0)" data-modal="message"><svg class="icon" fill="#8932E0"><use xlink:href="img/symbol-defs.svg#icon-viber"></use></svg></a>
                        </div>
                        <div>
                            <a href="javascript:void(0)" data-modal="message"><svg class="icon" fill="#0077FF"><use xlink:href="img/symbol-defs.svg#icon-vk"></use></svg></a>
                            <a href="javascript:void(0)" data-modal="message"><svg class="icon" fill="#FF6B00"><use xlink:href="img/symbol-defs.svg#icon-ok"></use></svg></a>
                            <a href="javascript:void(0)" data-modal="message"><svg class="icon" fill="#FF0000"><use xlink:href="img/symbol-defs.svg#icon-youtube"></use></svg></a>
                        </div>
                    </div>
                    <button class="header__call btn btn-blue btn-outline" data-modal="call">заказать звонок</button>
                    <div class="header__lang">
                        <div>ru</div>
                        <div class="active">eng</div>
                    </div>
                    <div class="header__mobile">
                        <svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-phone"></use></svg>

                        <div class="dropdown">
                            <a href="tel:+74956878879" class="header__phone">+7 495 687-88-79</a>
                            <button class="header__call btn btn-blue btn-outline" data-modal="call">заказать звонок</button>
                        </div>
                    </div>
                </div>
                <div class="header__row bottom">
                    <div class="header__menu">
                        <a href="javascript:void(0)">Об ингушетии</a>
                        <div>
                            <span>Путеводители <svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-arrow-down"></use></svg></span>
                            <div class="dropdown">
                                <div class="dropdown__wrapper">
                                    <a href="javascript:void(0)">Путеводитель по горной Ингушетии</a>
                                    <a href="javascript:void(0)">Путеводитель по равнинной Ингушетии</a>
                                    <a href="javascript:void(0)">Путеводитель по Мемориалу Памяти и Славы</a>
                                </div>
                            </div>
                        </div>
                        <a href="javascript:void(0)">Музеи</a>
                        <div>
                            <span>Экскурсии <svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-arrow-down"></use></svg></span>
                            <div class="dropdown">
                                <div class="dropdown__wrapper">
                                    <a href="javascript:void(0)">Путеводитель по горной Ингушетии</a>
                                    <a href="javascript:void(0)">Путеводитель по равнинной Ингушетии</a>
                                    <a href="javascript:void(0)">Путеводитель по Мемориалу Памяти и Славы</a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <span>Туры <svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-arrow-down"></use></svg></span>
                            <div class="dropdown">
                                <div class="dropdown__wrapper">
                                    <a href="javascript:void(0)">Путеводитель по горной Ингушетии</a>
                                    <a href="javascript:void(0)">Путеводитель по равнинной Ингушетии</a>
                                    <a href="javascript:void(0)">Путеводитель по Мемориалу Памяти и Славы</a>
                                </div>
                            </div>
                        </div>
                        <a href="javascript:void(0)">Отзывы</a>
                        <a href="javascript:void(0)">Блог</a>
                        <a href="javascript:void(0)">Контакты</a>
                    </div>
                    <div class="header__search">
                        <input type="text" placeholder="поиск">
                        <button><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-search"></use></svg></button>
                    </div>
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </header>